html, body {
  text-align: center;
  background-color: lightgrey;
  font-family: Helvetica, sans-serif;
}

header {
  background-color: rgb(54, 124, 121);
  color: white;
  margin: 0;
  padding: 10px;
  border-bottom: 8px solid white;
  margin-bottom: 20px;
}

h3 {
  font-size: 56pt;
  margin-top: 0;
}

.inputForm {
  margin-top: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: rgba(88, 88, 88, 0.5);
  width: 75%;
  padding: 30px;
}

.employeeInfoDiv {
  display: block;
  margin: auto;
  float: left;
  justify-content: center;
  height: 20px;
  width: 50%;
}

table {
  width: 100%;
}

.monthlyCostDiv {
  margin: 0 auto;
  display: block;
  float: left;
  width: 50%;
}

th {
  border: 1px dashed black;
  padding: 10px;
}

td {
  border: 1px dashed black;
  padding: 10px;
}

input {
  padding: 10px;
}

#submitButton {
  margin-top: 20px;
  border: 0;
  padding: 10px 20px;
  background-color: rgb(54, 124, 121);
  color: white;
}
