html, body {
  text-align: center;
  background-color: lightgrey;
  font-family: Helvetica, sans-serif;
}

header {
  background-color: rgb(54, 124, 121);
  color: white;
  margin: 0;
  padding: 10px;
  border-bottom: 8px solid white;
}


h3 {
  font-size: 56pt;
  margin-top: 0;
}
.inputForm {
  margin: auto;
  display: block;
  float: left;
  width: 100%
}

.employeeInfoDiv {
  display: block;
  height: 20px;
  float: left;
  width: 50%;
}

table {
  width: 100%;
}

.monthlyCostDiv {
  margin: 0 auto;
  display: block;
  float: left;
  width: 50%;

}

th {
  border: 1px dashed black;
  padding: 10px;
}

td {
  border: 1px dashed black;
  padding: 10px;
}
